* {
    box-sizing: border-box;
}

body {
    background-color: #cac8d6;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.insert {
    display: flex;
}

.keys {
    background-color: #e6e6e6;
    border: 1px solid;
    margin: 20px;
    padding: 5px 10px;
    font-size: 16px;
    color: rgba(54, 48, 48, 0.938);
    min-width: 100px;
    position: relative;
    text-align: center;
}

.keys small {
    position: absolute;
    top: -22px;
    left: 0;
    color: black;
    font-weight: bold;
    opacity: 0.6;
    width: 100%;
    text-align: center;
}